<h1>Services</h1>
{% for service_name, service_nodes in s.items() %}
  <h2>{{ service_name }}</h2>
  {% for node_name, service_out in service_nodes.items() %}
    <h3>{{ node_name }}</h3>
    <pre>
{{ service_out }}
    </pre>
  {% endfor %}
{% endfor %}
