{% extends 'base.jinja2' %}
{% block style %}
  .button-group {
  background-color: #eee;
  padding: 5px;
  margin-right: 5px;
  }
  .isDisabled {
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  }
  .blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
  }
  @keyframes blink-animation {
  to {
  background-color: red
  }
  }
  @-webkit-keyframes blink-animation {
  to {
  visibility: hidden;
  }
  }
{% endblock %}
{% block content %}

  {% macro status_string(s) %}
    {% if s == "active" %}
      <span class="w3-green">{{ icon('check-circle') }}</span> OK
    {% elif s == "inactive" %}
      <span class="w3-red">{{ icon('exclamation-triangle') }}</span> FAILED
    {% else %}
      <span class="w3-grey" >{{ icon('times') }}</span> UNKNOWN
    {% endif %}
  {% endmacro %}

  {% macro cmd_link(cmd, icon) %}
    <a href="{{ url_for(cmd, service=service.name, node_name=node_name) }}">{{ icon(icon) }}</a>
  {% endmacro %}

  <header class="w3-container {% if nodes.warnings + services.warnings > 0 %}w3-red{% else %}w3-indigo{% endif %}">
    <h2>{{ icon('dashboard') }} Dashboard</h2>
  </header>

  <div class="w3-container w3-white w3-row-padding">
    <form method="POST" action="/apply_settings">
      <div class="w3-col m4 l2">
        <p>
          <label>Page reload:</label>
          <select name="refresh_rate" class="w3-input">
            {% set options = [("", "Disable"), (5, "5 seconds"), (10, "10 seconds"), (20, "20 seconds"), (30, "30 seconds"), (60, "1 Minute"), (300, "5 minutes")] %}
            {% for option in options %}
              <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endfor %}
          </select>
        </p>
      </div>
      <div class="w3-col m4 l2">
        <p>
          <br/>
          <button style="margin-left: 10px;" class="w3-btn w3-blue">Apply</button>
        </p>
      </div>
    </form>
  </div>

  <div class="w3-container w3-half w3-panel w3-white" style="padding: 10px 20px;">
    <h2>{{ icon('cogs') }} Services {% if services.warnings %}<span style="padding: 0 10px; float:right" class="w3-red">Warnings: {{ services.warnings }}</span>{% endif %}</h2>
    {% for service_name, services_on_nodes in out.items() %}
      <h3>{{ icon('circle-thin') }} {{ service_name }}</h3>
      <table class="w3-table">
        <tbody>
          {% for node_name, service in services_on_nodes.items() %}
            <tr>
              <td>
                {{ icon('server') }} {{ node_name }}
              </td>
              <td style="text-align: right">
                {{ status_string(service.status[node_name]) }}&nbsp;&nbsp;
                <span class="button-group">
                  <a title="start service" href="{{ url_for('start', service=service.name, node_name=node_name) }}">{{ icon('play') }}</a>
                  <a title="stop service" href="{{ url_for('stop', service=service.name, node_name=node_name) }}">{{ icon('stop') }}</a>
                  <a title="restart service" href="{{ url_for('restart', service=service.name, node_name=node_name) }}">{{ icon('refresh') }}</a>
                </span>
                <span class="button-group">
                  <a title="show service log" href="{{ url_for('open_terminal_log', service=service.name, node_name=node_name) }}">{{ icon('book') }}</a>
                  <a title="open terminal" href="{{ url_for('open_terminal_shell', service=service.name, node_name=node_name) }}">{{ icon('terminal') }}</a>
                </span>
                <span class="button-group">
                  <a title="start deployment" {% if not (service.deploy and service.systemd_unit) %} class="isDisabled" {% else %} href="{{ url_for('deploy', service=service.name, node_name=node_name) }}" {% endif %}>
                    {{ icon('rocket') }}
                  </a>
                  <a title="delete deployment" {% if not (service.delete and service.systemd_unit) %} class="isDisabled" {% else %} href="{{ url_for('delete', service=service.name, node_name=node_name) }}" {% endif %}>{{ icon('eraser') }}</a>
                  <a title="update deployment" {% if not (service.delete and service.deploy and service.systemd_unit) %} class="isDisabled" {% else %} href="{{ url_for('update', service=service.name, node_name=node_name) }}" {% endif %}>{{ icon('recycle') }}</a>
                </span>
              </td>
            </tr>
            {% if service.ports and service.status[node_name] == "active" %}
              {% for port in service.ports %}
                <tr>
                  <td colspan=2>
                    &nbsp;&nbsp;<a class="w3-btn w3-small w3-green" target="_blank" href="http://{{ node_name }}:{{ port }}">{{ icon('external-link') }} http://{{ node_name }}:{{ port }}</a>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>

  <div class="w3-container w3-half w3-panel w3-white" style="padding-right: 30px; padding: 10px 20px;">
    <h2>{{ icon('building') }} Nodes {% if nodes.warnings %}<span style="padding: 0 10px; float:right" class="w3-red">Warnings: {{ nodes.warnings }}</span>{% endif %}</h2>
    {% for node in nodes.nodes %}
      <div style="padding-bottom: 3px">
      {% set mem_status_symbol = "" %}
      {% if node.mem_warn %}
        {% set mem_status_symbol = "<span class='w3-red'>" + icon('exclamation-triangle') + "</span>" %}
      {% endif %}
      {% set cpu_status_symbol = "" %}
      {% if node.cpu_warn %}
        {% set cpu_status_symbol = "<span class='w3-red'>" + icon('exclamation-triangle') + "</span>" %}
      {% endif %}
      <h3>
        {% if not node.is_up %}
          <span class='blink'>{{ icon('exclamation-triangle') }} DOWN! {{ icon('exclamation-triangle') }}</span>
        {% endif %}
          {{ icon('server') }} {{ node.node_name }}
      </h3>
      <span title="node memory usage">
        &nbsp;{{ icon('microchip') }} {{ mem_status_symbol }} {{ node.mem_used }} / {{ node.mem_avail }} MB
      </span>
      <span title='node CPU usage based on average load' style="float: right">
        {{ icon('area-chart') }} {{ cpu_status_symbol }} {{ node.load }} load / {{ node.cpus }} CPUs
      </span>
      {% for df_data in node.df %}
        {% set status_symbol = "" %}
        {% if df_data.warn %}
          {% set status_symbol = "<span class='w3-red'>" + icon('exclamation-triangle') + "</span>" %}
        {% endif %}
        <p style="padding-right: 10px">
          <span title="node mount point" class="truncate">&nbsp;&nbsp; {{ icon('hdd-o') }} {{ status_symbol }} {{ df_data['mounted_on'] }}</span>
          <span title="node mount point usage" class="truncate" style="float: right">{{ df_data['used_gb']|round|int }} GB / {{ df_data['total_gb']|round|int }} GB</span>
        </p>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
